/* Primary */
$color-pink: rgba(247, 37, 133, 1);
$color-pink-80: rgba(250, 107, 172, 1);

/* Text */
$color-navy: rgba(28, 53, 84, 1);
$color-text-body: rgba(128, 128, 128, 1);
$color-text-infield: rgba(170, 170, 170, 1);

/* Other */
$color-orange: rgba(250, 163, 7, 1);
$color-grey: rgba(204, 204, 204, 1);
$color-white: rgba(255, 255, 255, 1);

// Font weights
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;

$font-primary: "Rubik", sans-serif; 
$font-secondary: "Montserrat", sans-serif; 

// Heading sizes

$h2-font-size: 64px;
$h2-line-height: 88px;

$h3-font-size: 48px;
$h3-line-height: 64px;

$h4-font-size: 32px;
$h4-line-height: 48px;

$h5-font-size: 24px;
$h5-line-height: 32px;

$h6-font-size: 16px;
$h6-line-height: 24px;

// Font weights
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-regular: 400;

// Font sizes
$font-size-max: 16px;
$font-size-medium: 14px;
$font-size-min: 12px;

// Line heights
$line-height-max: 32px;
$line-height-min: 24px;
$line-height-medium: 27px;
